<div class="container" style="margin-top: 80px">
	<h1><%=	 "tagging #{@sha}@#{@repo_name}" %></h1>
  <%= form_tag '/github/tag' do %>
	  <%= text_field_tag 'tag', 'create tag' %>
    <%= hidden_field_tag(:sha, @sha) %>
    <%= hidden_field_tag(:repo_name, @repo_name) %>
    <%= hidden_field_tag(:repo_owner, @repo_owner) %>
	  <%= submit_tag 'Save' %>
	<% end %>
</div>