<div class="span10 offset4">
  <h2><%=	 "tagging #{@sha}@#{@repo_name}" %></h2>
<div class="container" style="margin-top: 80px">
  <%= form_tag '/github/tag' do %>
	  <%= text_field_tag 'tag', '', :class => 'input-xxlarge', :placeholder => 'create tag' %>
    <%= hidden_field_tag(:sha, @sha) %>
    <%= hidden_field_tag(:repo_name, @repo_name) %>
    <%= hidden_field_tag(:repo_owner, @repo_owner) %>
		<div><%= submit_tag 'Save', :class => 'btn btn-primary btn-large' %></div>
	  <% end %>
</div>
  <%= link_to 'Back',  :back, :class=> 'btn btn-primary btn-large'  %>
	</div>

